{% extends 'base.html' %}


{% load static %}

{% block contetnt  %}
<main class="container mt-3 mb-5">
    <!-- featured news -->
    <div class="row my-3">
        <!-- Left -->
        <div class="col-md-7">
            <div class="card mb-3">
                <img src="{{first_news.image.url}}" class="card-img-top" alt="{{first_news.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{first_news.title}}</h5>

                    <p class="card-text"><a href="/detail/{{first_news.id}}" class="btn btn-sm btn-primary">Read
                            Full</a></p>
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="col-md-5" style="max-height: 450px; overflow: auto;">
            <!-- News Box -->

            {% for news in side_news %}
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{news.image.url}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{news.title}}</h5>
                            <p class="card-text"><a href="/detail/{{news.id}}" class="btn btn-sm btn-primary">Read
                                    Full</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            {% endfor%}
            <!-- News Box -->
            <!-- <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'imgs/3.jpg' %}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><a href="#" class="btn btn-sm btn-primary">Read Full</a></p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <hr /> -->
            <!-- News Box -->
            <!-- <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'imgs/3.jpg' %}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><a href="#" class="btn btn-sm btn-primary">Read Full</a></p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Category Wise News -->
    {% for category in three_categories %}
    <h3 class="border-bottom pb-1">{{category.title}} <a href="/category.php" class="float-right btn btn-sm btn-dark">In
            this
            Category</a></h3>
    <div class="row my-4">
        {% for news in category.news_set.all %}
        {% if forloop.counter > 0 %}
        <!-- News box -->
        <div class="col-md-3">
            <div class="card mb-3 shadow">
                <img src="{{news.image.url}}" class="card-img-top" alt="News 1"
                    style="object-fit: cover; width: 100% ;height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{news.title}}</h5>
                    <hr />
                    <p class="card-text"><a href="/detail/{{news.id}}" class="btn btn-sm btn-primary">nnn</a></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <!-- End Single Category -->
</main>
{% endblock %}


H:\django-apps\news\src\templates\main\home.html